@model Clean.UpIndia.Models.Locality

@{
    ViewData["Title"] = "Create";
}
@section BodyStyle{
    <style>
        body {
            background-image: url('https://regentsvc.com/wp-content/uploads/layerslider/My-second-slider-wide/slider-bg11-800x401.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
}
<h1>Create</h1>

<h4>Locality</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocalityName" class="control-label"></label>
                <input asp-for="LocalityName" class="form-control" />
                <span asp-validation-for="LocalityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
