@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<section class="divider parallax layer-overlay overlay-white-9 mobile-parallax" data-bg-img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnCwNSs81lUgluAEziogRCD3keil3fjSDH9w&usqp=CAU" data-parallax-ratio="0.7" style="background-image: url(&quot;images/bg/bg11.jpg&quot;);">

    <div class="container text-center">

        <div class="row">

            <div class="col-md-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">

                <h3 class="text-gray font-24 font-weight-600 mb-5">EWS stands for Earth, Water &amp; Soil</h3>

                <h2 class="font-36 text-uppercase font-weight-600 mt-0">A Solution for <span class="text-theme-colored" style="color:#830101!important ;">Healthy Nation</span></h2>

                <p>We are committed to the cause of eco-friendly treatment of Waste Water, Solid Waste and Soil conditioning. We are committed to provide better quality of life to people with intention to save environment by using latest technology &amp; optimally using available resources in an eco-friendly way.</p>

               @* <a href="#" class="btn btn-lg btn-theme-colored mt-20">Join Now</a>*@

            </div>

        </div>

    </div>

</section>